/*main的内容部分*/
.main {
  width: 100%;
  height: 1015px;
  background: url(../images/news/new-bg.gif) no-repeat center center;
  background-size: 100% 100%;
}
.main .container {
  /*main内容容器*/
  width: 1150px;
  height: 1020px;
  margin: 0 auto;
}
.main .container .title {
  /*标题部分*/
  height: 43px;
  padding: 40px 50px 0 14px ;
}
.main .container .title span {
  font-size: 24px;
  color: #fdfdfd;
  float: left;
  font-family: Aparajita Regular;
}
.main .container .title em {
  font-size: 15px;
  color: #fdfdfd;
  float: left;
  margin-top: 11px;
  padding-left: 17px;
}
.main .container .title .title-l {
  /*左边标题*/
  float: left;
}
.main .container .title .title-r {
  /*右边标题*/
  float: right;
}
.main .container .main-r {
  padding: 11px;
  width: 400px;
  height: 795px;
  float: right;
  background-color: #fff;
  /*右边内容块*/
}
.main .container .main-r .main-r-t,
.main .container .main-r .main-r-bd {
  /*上下图片*/
  width: 400px;
  height: 100px;
  padding-bottom: 12px;
  padding-top: 234px;
}
.main .container .main-r .main-r-t p,
.main .container .main-r .main-r-bd p {
  height: 86px;
  text-indent: 24px;
  line-height: 24px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #f9f9f9;
  padding: 14px 20px 0 8px ;
}
.main .container .main-r .main-r-t {
  /*单右上角图片*/
  background: url(../images/news/new-right-1.gif) 0 0 no-repeat;
}
.main .container .main-r .main-r-bd {
  /*单右下角图片*/
  background: url(../images/news/new-right-2.gif) 0 0 no-repeat;
}
.main .container .main-r .main-r-bot {
  /*右边底部按钮*/
  width: 400px;
  height: 114px;
  background: url(../images/news/dropdown.gif) no-repeat center center;
  cursor: pointer;
}
.main .container .main-l-c {
  /*左边内容块*/
  margin-bottom: 33px;
  width: 700px;
  height: 250px;
}
.main .container .main-l-c img {
  float: left;
  width: 350px;
  height: 250px;
}
.main .container .main-l-c .content {
  width: 307px;
  height: 242px;
  float: left;
  padding: 8px 26px 0 16px;
  background-color: #fff;
}
.main .container .main-l-c .content h3 {
  padding-left: 24px;
  font-size: 16px;
  font-family: '微软雅黑';
  height: 46px;
}
.main .container .main-l-c .content p {
  font-size: 14px;
  text-indent: 24px;
  line-height: 24px;
  font-family: '宋体';
}
.main .container .main-l-c .content a {
  font-size: 14px;
  display: block;
  color: #666;
  margin-left: 235px;
  margin-top: 24px;
}
/*main的内容部分结束*/
