/*通用属性设置*/
.clear:after {
  content: '';
  display: block;
  clear: both;
}
/*main的内容样式*/
.main {
  width: 100%;
  overflow: hidden;
  background-color: #f6f6f6;
}
.main .subNav {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  background: #4f4f4f;
  height: 183px;
}
.main .subNav ul {
  /*二级菜单*/
  width: 720px;
  margin: 0 auto;
  overflow: hidden;
}
.main .subNav ul li {
  width: 240px;
  line-height: 50px;
  text-align: center;
  background-color: #000;
  float: left;
}
.main .subNav ul li a {
  font-size: 16px;
  font-family: '微软雅黑';
  color: #e2e2e2;
}
.main .subNav div {
  /*通用属性设置*/
  font-family: Arial Regular;
  font-size: 30px;
  float: left;
  color: #fff;
}
.main .subNav .subNav-l {
  /*左边的内容*/
  float: left;
  line-height: 49px;
  padding-left: 20px;
  width: 456px;
}
.main .subNav .subNav-l em {
  float: right;
  font-size: 24px;
  line-height: 24px;
  margin-top: 16px;
  font-family: Arial Regular;
  margin-left: 12px;
}
.main .subNav .subNav-c p {
  /*中间的内容*/
  line-height: 98px;
  font-size: 24px;
  width: 167px;
  padding-left: 150px;
}
.main .subNav .subNav-r p {
  /*右边的内容*/
  height: 38px;
  width: 110px;
  font-size: 16px;
  padding-top: 60px;
  padding-left: 210px;
  font-family: '微软雅黑';
  background: url(../images/pro_list/globle.gif) no-repeat 234px 34px;
}
.main .parameters {
  /*产品参数*/
  width: 1174px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding-left: 18px;
  padding-bottom: 26px;
  overflow: hidden;
}
.main .parameters > img {
  width: 400px;
  height: 400px;
  float: left;
}
.main .parameters .par-h {
  float: right;
  width: 642px;
  height: 94px;
  line-height: 94px;
  font-size: 24px;
  font-family: Arial;
  padding-left: 120px;
}
.main .parameters .par-h span {
  position: relative;
  line-height: 20px;
  font-size: 18px;
  font-family: '微软雅黑';
  margin-top: 54px;
  top: 14px;
}
.main .parameters .par-bd {
  float: right;
  width: 762px;
  height: 258px;
}
.main .parameters .par-bd img {
  float: left;
  padding-right: 70px;
}
.main .parameters .par-bd p {
  line-height: 45px;
  margin-top: 17px;
  font-size: 16px;
  font-family: '微软雅黑';
}
.main .design {
  /*设计理念顶部背景图片*/
  width: 100%;
  height: 900px;
}
.main .design .design-bg {
  height: 500px;
  background: url(../images/pro_list/design-1.gif) no-repeat;
  background-size: 100% 100%;
}
.main .design .design-c {
  /*底部容器*/
  width: 1200px;
  margin: 0 auto;
}
.main .design .design-c img {
  float: left;
  width: 650px;
  height: 450px;
}
.main .design .design-c .des-c-t {
  /*上文字块*/
  float: left;
  width: 506px;
  height: 240px;
  background-color: #e2e2e2;
  margin-bottom: 2px;
  padding: 0 22px;
  font-family: '宋体';
  line-height: 30px;
}
.main .design .design-c .des-c-t .title {
  /*设计理念*/
  line-height: 56px;
  font-size: 18px;
  font-family: '微软雅黑';
}
.main .design .design-c .des-c-t .title span {
  position: relative;
  font-family: '微软雅黑';
  font-size: 18px;
  top: 14px;
  left: 6px;
}
.main .design .design-c .des-c-t .content {
  /*内容部分*/
  text-indent: 28px;
  padding-top: 10px;
  font-size: 14px;
}
.main .design .design-c .des-c-b {
  /*下字块*/
  float: left;
  width: 506px;
  height: 208px;
  background-color: #e2e2e2;
  padding: 0 22px;
}
.main .design .design-c .des-c-b .title {
  /*象征意义*/
  line-height: 56px;
  font-size: 18px;
  font-family: 微软雅黑;
  padding-left: 8px;
}
.main .design .design-c .des-c-b .title span {
  position: relative;
  top: 6px;
  left: 8px;
  font-size: 14px;
  font-family: 微软雅黑;
}
.main .design .design-c .des-c-b .content {
  /*内容部分*/
  font-family: 宋体;
  font-size: 14px;
  line-height: 30px;
  padding-top: 14px;
}
.main .identification {
  /*鉴别方法*/
  width: 1200px;
  margin: 0 auto;
  background-color: gold;
}
.main .identification .i-title {
  /*标题部分*/
  line-height: 70px;
  height: 70px;
  padding-left: 332px;
  font-size: 24px;
  font-family: 微软雅黑;
}
.main .identification .i-title span {
  position: relative;
  top: 16px;
  font-size: 18px;
  font-family: 微软雅黑;
}
.main .identification .i-bd {
  /*内容部分*/
}
.main .identification .i-bd img {
  float: right;
  width: 650px;
  height: 410px;
  padding-top: 35px;
}
.main .identification .i-bd div {
  width: 648px;
  height: 400px;
  background-color: #e2e2e2;
  padding: 80px 0 0 60px;
}
.main .identification .i-bd div p {
  line-height: 48px;
  font-family: 宋体;
  font-size: 14px;
}
