/*通用样式设置*/
/*通用样式设置结束*/
/*banner的样式*/
.banner {
  width: 100%;
  background: url(../images/pro_center/banner.gif) center center no-repeat;
  background-size: 100% 100%;
  height: 700px;
}
.banner .subNav {
  /*二级菜单*/
  width: 720px;
  margin: 0 auto;
}
.banner .subNav li {
  width: 240px;
  line-height: 50px;
  text-align: center;
  background-color: #000;
  float: left;
  margin-bottom: 83px;
}
.banner .subNav li a {
  font-size: 16px;
  font-family: '微软雅黑';
  color: #e2e2e2;
}
.banner p {
  width: 920px;
  margin: 0 auto;
  line-height: 86px;
  font-family: '方正兰亭超细黑简体';
  font-size: 60px;
  color: #f2f2f2;
}
.banner p:nth-last-child(1) {
  text-indent: 128px;
}
/*banner的样式结束*/
/*main的样式*/
.main {
  width: 100%;
  background-color: #f7f7f7;
}
.main a {
  color: #000;
}
.main .main-container {
  /*main容器*/
  width: 1200px;
  overflow: hidden;
  background: #fff;
  margin: 0 auto;
}
.main .main-container .main-title {
  /*顶部标题*/
  padding: 12px;
  height: 86px;
  background-color: #000;
}
.main .main-container .main-title ul {
  float: left;
}
.main .main-container .main-title ul li {
  float: left;
  padding: 0 6px;
  text-align: center;
  color: #eaeaea;
}
.main .main-container .main-title ul li a {
  font-family: '微软雅黑';
  color: #eaeaea;
}
.main .main-container .main-title .main-t-en {
  font-size: 24px;
  font-family: Arial Regular;
  text-align: center;
  width: 240px;
  line-height: 20px;
  margin: 0 auto;
  padding-top: 25px;
  color: #ffffff;
}
.main .main-container .main-title .main-c-cn {
  font-size: 18px;
  font-family: '微软雅黑';
  width: 120px;
  line-height: 20px;
  margin: 0 auto;
  padding-left: 292px;
  color: #fff;
}
.main .main-container .main-nav {
  /*顶部导航*/
  padding-left: 303px;
  overflow: hidden;
}
.main .main-container .main-nav li.current {
  border-bottom: 4px solid #000;
}
.main .main-container .main-nav li {
  float: left;
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin-right: 129px;
  border-bottom: 4px solid #818181;
  text-align: center;
}
.main .main-container .main-nav li a {
  font-family: '微软雅黑';
  font-size: 18px;
}
.main .main-container .main-subNav {
  /*顶部子导航*/
  margin-top: 16px;
  overflow: hidden;
}
.main .main-container .main-subNav li.current {
  background: #000;
}
.main .main-container .main-subNav li.current a {
  color: #fff;
}
.main .main-container .main-subNav li {
  float: left;
  width: 14.28%;
  background-color: #f7f7f7;
  text-align: center;
  line-height: 42px;
}
.main .main-container .main-subNav li a {
  font-size: 16px;
  font-family: '微软雅黑';
}
.main .main-container .main-list {
  /*中间图片列表*/
  overflow: hidden;
  padding-left: 75px;
}
.main .main-container .main-list li:hover .shade {
  z-index: 9;
}
.main .main-container .main-list li {
  width: 300px;
  height: 477px;
  float: left;
  position: relative;
  margin-right: 75px;
}
.main .main-container .main-list li img {
  position: absolute;
  border: 1px solid #eaeaea;
  width: 298px;
  height: 400px;
  z-index: 8;
}
.main .main-container .main-list li .shade {
  position: absolute;
  float: left;
  width: 300px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.7);
}
.main .main-container .main-list li .shade .shade-t,
.main .main-container .main-list li .shade .shade-c {
  text-align: center;
  color: #fff;
}
.main .main-container .main-list li .shade .shade-t {
  font-size: 18px;
  font-family: '微软雅黑';
  line-height: 56px;
  margin-top: 116px;
}
.main .main-container .main-list li .shade .shade-c {
  font-size: 14px;
  font-family: '宋体';
  line-height: 48px;
  margin-top: 39px;
}
.main .main-container .main-list li .shade .shade-b {
  font-size: 14px;
  font-family: '宋体';
  color: #fff;
  margin: 5px 0 0 210px;
}
.main .main-container .main-list li .shop-car {
  width: 90px;
  position: absolute;
  top: 400px;
  height: 34px;
  padding-left: 54px;
  background: url(../images/pro_center/shop-car.gif) no-repeat left center;
  line-height: 34px;
  margin-top: 19px;
  margin-left: 84px;
}
.main .main-container .main-bot {
  /*底部页码*/
  height: 180px;
  padding-top: 36px;
}
.main .main-container .main-bot ul {
  width: 230px;
  margin: 0 auto;
}
.main .main-container .main-bot ul li {
  float: left;
  font-size: 36px;
  padding: 0 14px;
}
.main .main-container .main-bot ul li a {
  font-size: 36px;
}
/*main的样式结束*/
